In [48]:
import pandas as pd
import numpy as np

In [68]:
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix

In [70]:
data = pd.read_csv("Customer-survey-data.csv")

In [51]:
data.head()

,Customer ID,Overall Delivery Experience (Rating),Food Quality (Rating),Speed of Delivery (Rating),Order Accuracy
0,1,5.0,3.0,4.0,Yes
1,2,3.0,4.0,3.0,Yes
2,3,4.0,5.0,2.0,Yes
3,4,5.0,3.0,4.0,Yes
4,5,2.0,5.0,1.0,Yes

In [56]:
data.isnull().sum()

Customer ID                               0
Overall Delivery Experience (Rating)    418
Food Quality (Rating)                   252
Speed of Delivery (Rating)              239
Order Accuracy                          660
dtype: int64

In [62]:
data.drop(columns = "Customer ID", inplace = True)

In [72]:
X_train, x_test, y_train, y_test = train_test_split(data.iloc[ : , 0 : 3], data.iloc[ : , -1], test_size=0.2, random_state=None)

In [84]:
si = SimpleImputer()

In [86]:
X_train = si.fit_transform(X_train)

In [88]:
X_train

array([[2.236e+03, 3.000e+00, 3.000e+00],
       [9.688e+03, 2.000e+00, 3.000e+00],
       [7.517e+03, 2.000e+00, 2.000e+00],
       ...,
       [7.079e+03, 1.000e+00, 1.000e+00],
       [9.478e+03, 2.000e+00, 2.000e+00],
       [1.557e+03, 3.000e+00, 3.000e+00]])